/* Images and video */

.imgContainer {
	text-align: center;
}

#promoImg {
	width: 100%
}

.imgContainer {
	position: relative;
}

.imgContainer .downloadBtn {
	background: #00205B;
	font-family: 'Baloo 2', Arial, Helvetica, sans-serif;
	font-size: 25px;
	text-align: center;
	width: 200px;
	color: white;
	margin: 0 auto;
	padding: 10px;
	border-radius: 5px;
	position: absolute;
	left: 50%;
	margin-left: -100px;
	top: 50%;
	margin-top: -70px;
}

@media only screen and (max-width:740px) { 
	.imgContainer .downloadBtn {
		width: 100%;
		margin: 0 auto;
		padding: 10px 0;
		border-radius: 0;
		margin-top: -5px;
		position: initial;
	}
}

main>* {
	width: 100%;
}

video {
	margin-top: 100px;
	margin-bottom: 100px;
}

/* Heading */

#title {
	text-align: center;
}

#title h2 {
	color: #00205B;
	margin: 0;
	font-family: 'Baloo 2', arial;
	font-size: 45px;
}

#title p {
	color: #333;
	font-style: italic;
	font-size: 25px;
}

#arguments {
	margin-top: 60px;
}

#promoVideo {
	border-radius: 15px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Rectangles */

.rectangles>* {
	width: 100%;
	text-align: center;
	padding-bottom: 50px;
}

/* Images */

.rectangles img {
	width: 100%;
}

/* Titles for rectangles */

.rectangles h2 {
	margin-top: 25px;
	color: white;
	text-align: center;
	font-size: 30px;
}

.rectangles p {
	color: white;
	margin: 10px 60px;
	width: calc(100% - 120px);
}

#rect1 {
	background: linear-gradient(#FD005F, #FE4C8F);
}

#rect2 {
	background: linear-gradient(#2CD900, #77EE58)
}

#rect3 {
	background: linear-gradient(#1278F7, #91C2FF);
}

/* Image carousel */

#slides {
	position: relative;
	width: 100%;
	padding: 0px;
	margin: 0px;
}

.slide {
	width: 100%;
	display: none;
}

.showing {
	display: block;
}

.controls {
	outline: none;
	background: #fff;
	border-radius: 50%;
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.4);
	height: 64px;
	padding: 17px 16px;
	width: 64px;
	border-color: transparent;
	cursor: pointer;
	transition: 0.3s;
}

.controls:hover, .controls:focus {
	background: #eee;
	box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.14), 0 1px 28px 0 rgba(0, 0, 0, 0.12), 0 3px 15px -1px rgba(0, 0, 0, 0.4);
}

.container {
	position: relative;
}

.controls {
	position: absolute;
	top: 50%;
	margin: 30px;
	margin-top: -32px;
	z-index: 2;
}

#next {
	right: 0;
}

/* Download section */

#badges {
	display: grid;
	grid-template-columns: 1fr 1fr;
	max-width: 450px;
	margin: 25px auto;
}

#badges>* {
	height: 65px;
	margin: 0 auto;
}

@media only screen and (max-width:740px) {
	#badges {
		grid-template-columns: 1fr;
		max-width: 200px;
	}
	#badges>* {
		width: 100%;
		height: auto;
		margin: 15px 0;
	}
}

.lastcall {
	background: #00205B;
	font-family: 'Baloo 2', Arial, Helvetica, sans-serif;
	font-size: 25px;
	text-align: center;
	width: 200px;
	color: white;
	margin: 75px auto;
	padding: 10px;
	border-radius: 5px;
}