main {
  max-width: 400px;
}

.more {
  display: none;
}

.kurs {
  margin-bottom: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #FFFFFF;
  border-radius: 15px;
}

.kurs img {
  width: 100%;
}

h3 {
  color: #484848;
}

.wrapper {
  padding: 20px;
  padding-top: 0;
}

.minKnapp {
  font-size: 16px;
  background: none;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  color: #00205B;
  font-family: roboto;
  font-weight: bold;
  padding: 0;
}