* {
    padding: 0;
    line-height: 1.5em;
}

body {
    background-color: lightgrey;
    color: #484848;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 660px;
    margin: auto;
}

body>article {
    border: 1px dashed black;
    margin: 5px;
}

body>header {
    text-align: center;
}

header>img {
    margin-top: 10px;
}

article>table,
article>table>thead>tr>*,
article>table>tbody>tr>* {
    border: 1px solid black;
    padding: 7px;
}

article>table {
    border-collapse: collapse;
    width: 100%;
}

article>table>thead>tr>th {
    background-color: #4CAF50;
    color: white;
}

article>ul {
    padding: auto !important;
}

img {
    max-width: 100%;
}